.row-game {
    margin-top: 1%;
    display: grid !important;
    grid-template-columns: repeat(3, 0fr);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 300;
}

.card:hover {
    cursor: pointer;
}

.title-heroes-selected {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.result {
    align-self: center;
    font-weight: bold !important;
}

.congratulations {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}