.card-winner {
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 320px;
    display: flex;
    justify-content: center;
}

.row {
    display: grid;
}

.card-title, .card-footer{
    align-self: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-weight: bolder;
}

.trofeu {
    width: 115px;
    height: 180px;
    align-self: center;
}

.actions-winner {
    margin-top: 20px;
}

.button-play {
    border-radius: 10px;
    height: 35px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(18, 10, 146);
    margin-right: 10px;
    border: 1px solid;
    position: relative;
    top: -8px;
    cursor: pointer;
}

.button-play:hover {
    background-color: rgb(18, 10, 146);
    color: rgb(255, 255, 255);
    border: none;
    position: relative;
    cursor: pointer;
}

.button-reload {
    border-radius: 10px;
    height: 35px;
    width: 100px;
    background-color: rgb(18, 10, 146);
    color: rgb(255, 255, 255);;
    border: none;
    cursor: pointer;
}


.button-reload:hover {
    background-color: rgb(255, 255, 255);;
    color: rgb(18, 10, 146);
    border: 1px solid;
    cursor: pointer;
}