<div class="row-search">
    <input
        type="text"
        class="input-search-hero"
        [(ngModel)]="this.heroName"
        (keyup)="getHeroByName()"
        placeholder="Digite o nome do super herói"
    >
    <button class="button-search-hero" type="button" (click)="getHeroByName(true)">Limpar</button>
</div>

<div class="row" *ngIf="heroesList.length > 0">
    <div class="card-hero" *ngFor="let hero of heroesList; let i = index">
        <img [src]="hero.urlImage" [width]="125"  [height]="125" (click)="selectHero(hero)" [class]="hero.name">
        <div>{{hero.name}}</div>
    </div>
</div>

<div class="not-found" *ngIf="heroesList.length === 0">
    Super herói não encontrado!!!
</div>

<div class="row-play-game selection-player" *ngIf="!currentPlayer && this.players.length < 2">
    Escolha seu personagem jogador X
</div>
<div class="row-play-game selection-player" *ngIf="currentPlayer && this.players.length < 2">
    Escolha seu personagem jogador O
</div>

<app-heroes-selected
    *ngIf="players.length > 0"
    [players]="players"
>
</app-heroes-selected>

<div class="row-play-game" *ngIf="players.length === 2">
    <button type="button" class="button-search-hero" (click)="playGame()">Iniciar Partida</button>
</div>