body {
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    background-image: url('https://images.unsplash.com/photo-1569169507605-f91e088ce91a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80');
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.text-white {
    color: rgb(255, 255, 255);
}

.align-self-center {
    align-self: center;
}